<header class="header">

  <button aria-expanded="false" aria-controls="menu" aria-label="Click to open the menu" class="bt-menu"><svg class="icon-top icon-menu"><use xlink:href="#icon-menu"></use></svg></button>
    <nav class="menu">
      <a aria-label="Back to home page" href="/about"> About </a>
      <a aria-label="Get to know me a little more" href="/project"> Project </a>
      <a aria-label="My blog" href="/plan"> Plan </a>
      <a aria-label="Talk to me" href="https://github.com/alice4926"> Github </a>
    </nav>
  
</header>