 <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <style type="text/css">
      .page-header {
      background-image:url("../fig/DSC02199.JPG");
      background-size: auto;
      background-repeat: no-repeat;
      color: #fff;
      text-shadow: 0px 0px 4px #9999ff;
      }
      
    </style>
  </head>